.btn {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;

  &.full-width {
    width: 100%;
  }


  &.small {
    font-size: 1rem;
  }

}

.icon-btn {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 0;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;

  &.full-width {
    width: 100%;
  }

  &.large {
    width: 5rem;
    height: 5rem;
    padding: 1rem;

  }

  img {
    max-width: 100%;
  }

  &.selected {
    // box-shadow: x y blur spread color;
    box-shadow: 0 8px 8px 2px rgba(0,0,0,0.25);
  }
}

.primary {
  background-color: white;
  border: 1px solid #ccc;
  color: #222;
}

.secondary {
  background-color: transparent;
  border: .125rem solid white;
  color: white;
}