.clothingItem_cart_carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: #e0bfbf;
}

.clothingItem_image_of_cart_container {
  display: flex;
  margin: 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.numberCircle {
  border-radius: 70%;
  width: 10px;
  height: 10px;
  padding: 3px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 14px;
}
