.clothingItem_cart_carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: #e0bfbf;
  z-index: 1;
}

.clothingItem_image_of_cart_container {
  display: flex;
  margin: 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.total_item_in_cart {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 3px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 14px;
}

.content_container {
  margin-top: -100px;
  h1 {
    margin-left: 20px;
    z-index: 1;
  }
  h2 {
    margin-left: 20px;
    z-index: 1;
  }
}

.orange_footer_cart {
  position: absolute;
  top: 420px;
  z-index: -1;
}

.orange_footer_wave_cart {
  width: 414px;
  z-index: -1;
}
