.clothingItem_cart_carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: #e5e5e5;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 1;
}

.clothingItem_image_of_cart_container {
  display: flex;
  margin: 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.total_item_in_cart {
  border-radius: 50%;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 14px;
}

.content_container {
  margin-top: 2.8rem;
  h1 {
    margin-left: 20px;
    z-index: 1;
    font-size: 24px;
    color: white;
    text-shadow: 2px 1px 3px #000000;
  }
  h2 {
    margin-left: 20px;
    z-index: 1;
  }
  h3 {
    margin-left: 20px;
  }
}

.orange_footer_cart {
  position: absolute;
  top: 420px;
  z-index: -1;
  width: 100%;
}

.orange-footer-wave-cart {
  width: 100%;
  z-index: -1;
}

.ready_to_checkout {
  background-color: white;
  margin-top: 10px;
  margin-left: 245px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  h3 {
    margin: 0;
  }
}

.span_eclo_logo {
  #eclo_logo {
    width: 100px;
    margin-right: 145px;
  }
}

.delete_item_button {
  width: 20px;
  padding-left: 80px;
  margin-bottom: -20px;
}
