h2 {
  margin-left: 10px;
}

.checkout_main_section h1 {
  margin-left: 10px;
}

.checkout_owners_section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.single_owner_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #e5e5e5;
  margin: 10px;
  border-radius: 1rem;
}

.items_of_owner_section {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 8px;
}

.checkout_footer {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.owner_avatar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_checkout_container {
  margin-top: 3.8rem;
  h1 {
    margin-left: 20px;
    z-index: 1;
  }
  h2 {
    margin-left: 20px;
    z-index: 1;
  }
  h3 {
    margin-left: 20px;
  }
}

// STYLINGS FOR CONFIRMATION PAGE BELOW

.confirmation-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 6rem;
  h1 {
    margin-left: 20px;
    z-index: 1;
  }
  h2 {
    margin-left: 20px;
    z-index: 1;
  }
}

.thank_you_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(229, 229, 229, 0.5);
  width: 300px;
  height: 400px;
  h1 {
    margin: 10px;
  }
  .earth_icon {
    width: 150px;
  }
}

.owner_avatar_carousel {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 300px;
  overflow-x: scroll;
  background-color: #e0bfbf;
}

.owner_avatar {
  display: flex;
  margin: 10px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.ownerAvatar_image_of_cart_container {
  display: flex;
  margin: 10px;
  margin-top: 28px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.confirmation_eclo_logo {
  #eclo_logo {
    width: 100px;
    margin-left: 145px;
  }
}
