.checkout_main_section h1 {
  margin-left: 10px;
}

.checkout_owners_section {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.single_owner_section {
  display: flex;
  flex-direction: row;
  background: #e5e5e5;
  margin: 10px;
}

.checkout_footer {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.thank_you_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 57px;
  margin-top: 120px;
  background: rgba(229, 229, 229, 0.5);
  width: 300px;
  height: 400px;
  h1 {
    margin: 10px;
  }
  .earth_icon {
    width: 150px;
  }
}
.owner_avatar_carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: #e0bfbf;
}

.owner_avatar {
  display: flex;
  margin: 10px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
