.images {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trying_item {
  position: absolute;
  transition: all 150ms ease-in;
}

#person_standing {
  width: 400px;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 2px;
}

.try_button {
  width: 100px;
}
