.filters_available {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.filters_available {
  margin-top: -140px;
  margin-bottom: 40px;
  h3 {
    padding-top: 4px;
  }
}
.availables_grid_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
}

.clothingItem_image_of_grid_container {
  width: 190px;
}

.clothingItem_of_grid_container {
  position: relative;
  z-index: 1;
}

#add_to_cart_button {
  height: 30px;
  position: relative;
  float: right;
  z-index: 2;
  top: -35px;
  right: 2px;

  &:hover {
    cursor: pointer;
    opacity: 70%;
  }
  &:active {
    height: 25px;
    opacity: 30%;
  }
}

.clothingItem_size {
  position: relative;
  float: right;
  top: 25px;
  font-weight: bold;
  background-color: #e0bfbf;
  border: 1px solid black;
  padding: 2px;
}

.typeForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.sizeForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.label_container {
  display: flex;
  justify-items: space-between;
}

.feed_header_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.header_wave_green {
  position: relative;
  z-index: -1;
  top: -75px;
  width: 446px;
}

#feed_hanger_icon {
  height: 50px;
}

#feed_profile_icon {
  height: 50px;
}

.feed_header_hanger_icon {
  font-weight: bold;
  color: white;
}

.orange_footer {
  bottom: -500px;
  position: absolute;
}

.orange_footer_wave {
  width: 414px;
  height: 925px;
  z-index: -1;
}

.hidden_checkbox {
  display: none;
}

.size_icon {
  opacity: 100%;
}

.hidden_checkbox:checked ~ .size_icon {
  opacity: 40%;
}
