@import "./button.scss";
@import "./text-input.scss";
@import "./Feed.scss";
@import "./profile.scss";
@import "./Cart.scss";
@import "./Checkout.scss";
@import "./closet.scss";

body {
  font-family: "Roboto", sans-serif;
  background-color: #ded0b6;
  margin: 0;
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-message {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem;
  }

  .btn {
    width: 75%;
    margin-bottom: 0.75rem;
  }
}

.login-signup-nav {
  padding: 1rem 1rem;
}

#auth {
  margin: auto;
  max-width: 85%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem;
    margin-top: 0;

    h1 {
      letter-spacing: 8px;
      font-weight: 400;
      align-self: flex-start;
    }

    .text-input {
      width: 100%;
      margin: inherit 8rem;
    }

    .btn {
      width: 66%;
      align-self: flex-end;
      margin-bottom: 0.75rem;
    }
  }
}

.logo-placeholder {
  width: 8rem;
  height: 8rem;
  background-color: pink;
  border-radius: 100%;
}

.landing_header_wave_green {
  position: relative;
  z-index: -1;
  width: 31rem;
}

.landing_footer_wave_green {
  width: 28rem;
  position: relative;
  z-index: -1;
  bottom: 0;
  margin-top: 8rem;
}

.login_header_wave_green {
  position: relative;
  z-index: -1;
  width: 31rem;
  top: -4rem;
}

.login_footer_wave_green {
  width: 28rem;
  position: relative;
}

.signup_footer_wave_green {
  width: 28rem;
  position: relative;
  bottom: 4rem;
}
