@import "./button.scss";
@import "./text-input.scss";
@import "./Feed.scss";
@import "./profile.scss";
@import "./Cart.scss";
@import "./Checkout.scss";
@import "./closet.scss";
@import "./dressingRoom.scss";
@import "./convoList.scss";
@import "./chatWindow.scss";

html,
body {
  height: 100%;
  position: relative;
}

.App {
  header {
    .landing_header_wave_green,
    .login_header_wave_green {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  #auth,
  #landing {
    overflow: hidden;
    display: block;
    position: relative;
  }

  footer {
    .signup_footer_wave_green,
    .landing_footer_wave_green,
    .login_footer_wave_green {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ded0b6;
  margin: 0;
}

#landing {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 175px;
  }

  .welcome-message {
    margin: 0.75rem 0;
    font-style: italic;
    color: #222;
  }

  .btn {
    width: 75%;
    margin-bottom: 0.75rem;
  }
}

.login-signup-nav {
  padding: 1rem 1rem;
}

#auth {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 85%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 2rem;
    margin-top: 0;

    h1 {
      letter-spacing: 8px;
      font-weight: 400;
      align-self: flex-start;
    }

    .text-input {
      width: 100%;
      margin: inherit 8rem;
    }

    .btn {
      width: 66%;
      align-self: flex-end;
      margin-bottom: 0.75rem;
    }
  }
}
