@import './button';
@import './text-input.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #DED0B6;
}

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 2rem;

  .welcome-message {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem;
    .btn {
      width: 75%;
    }
  }
}

#auth {
  margin: auto;
  max-width: 85%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 2rem;

    h1 {
      letter-spacing: 8px;
      font-weight: 400;
      align-self: flex-start;
    }

    .text-input {
      width: 100%;
      margin: inherit 8rem;
    }

    .btn {
      width: 66%;
      align-self: flex-end;
    }
  }
}

.logo-placeholder {
  width: 8rem;
  height: 8rem;
  background-color: pink;
  border-radius: 100%;
}