#profile-page {
  display: flex;
  flex-direction: column;
  
  nav { 
    position: relative;
    width: 100%;
    background: #70774B;

    .profile-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem 0;
      .home-button {
        background: transparent;
        border: none;
        img {
          width: 5rem;
          text-shadow: 2px 2px 2px whitesmoke;
        }
      }
    }

    .wave-spacer {
      position: absolute;
      z-index: -1;
      width: 100%;
      padding-top: 8rem;
      background: #70774B;
    }
    
    .profile-wave {
      position: absolute;
      width: 100%;
    }
}

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar_url-image {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      padding: 1rem;
    }

    .user-name {
      font-size: 1.75rem;
      padding-bottom: 0.5rem;
      color: white;
      text-shadow: 2px 2px 2px #555;
      font-weight: 700;
    }

    #profile-toggle-menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      #closet-profile-toggle, #convos-profile-toggle, #camera-profile-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-size: 1.25rem;
        font-weight: 700;
        text-shadow: 2px 2px 2px #555;
        padding: 0.75rem;

        span {
          padding-top: 0.5rem;
        }
      }

    }
  }

  .profile-feed-placeholder {
    background-color: #c2a877;
    margin-top: 1.25rem;
  }
}
