#profile-page {
  display: flex;
  flex-direction: column;

  nav {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .profile-header {
    position: absolute;
    z-index: -1;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .avatar_url-image {
      width: 9rem;
      height: 9rem;
      border-radius: 100%;
      padding: 1rem;
    }

    .user-name {
      font-size: 1.5rem;
      color: white;
      text-shadow: 2px 2px 2px #555;
      font-weight: 700;
    }

    .icon-btn {
      margin: 0.75rem;
    }
  }

  .profile-feed-placeholder {
    background-color: #c2a877;
    margin-top: 4rem;
    padding: 1rem 1.5rem;
    padding-bottom: 100%;
    opacity: 0.8;
  }
}
