.filters_available {
  display: flex;
  flex-direction: row;
  margin: 10px; }

.typeForm {
  display: flex;
  flex-direction: column;
  margin: 10px; }

.sizeForm {
  display: flex;
  flex-direction: column;
  margin: 10px; }

.feed_header_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px; }

#feed_hanger_icon {
  height: 50px; }

#feed_profile_icon {
  height: 40px; }
