#wave {
  position: absolute;
  height: 275px;
  width: 600px;
  background: #70774B;
  z-index: -2; }

#wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 40%;
  width: 380px;
  height: 190px;
  background-color: #DED0B6;
  right: -5px;
  top: 190px;
  z-index: -1; }

#wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 30% 100%;
  width: 150px;
  height: 150px;
  background-color: #DED0B6;
  left: -20px;
  top: 180px;
  z-index: -1; }

#inner-wave:before {
  content: "";
  position: absolute;
  border-radius: 85% 70%;
  width: 13rem;
  height: 10.25rem;
  background-color: #70774B;
  top: 125px;
  left: 14%; }

#inner-wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 2% 100%;
  width: 150px;
  height: 150px;
  background-color: #70774B;
  left: -10px;
  top: 130px; }
